In [1]:
#Задача 1
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"Node with value {self.value}"


def print_linked_list(head):
    while head:
        print(head)
        head = head.next
        
def reverse_linked_list(head, last = None):
    cur = head
    head = last
    while cur is not None:
        cur.next, cur, last = last, cur.next, cur
    return last
        
a, b, c, d, e = Node(1), Node(2), Node(3), Node("Внезапно"), Node(5)

a.next = b
b.next = c
c.next = d
d.next = e

print_linked_list(a)
print('\n')
print_linked_list(reverse_linked_list(a))

Node with value 1
Node with value 2
Node with value 3
Node with value Внезапно
Node with value 5


Node with value 5
Node with value Внезапно
Node with value 3
Node with value 2
Node with value 1

In [3]:
#Задача 2
class Node(object):
    
    def __init__(self, value = None, next_node = None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"{self.value}"
    
def print_linked_list(head):
    while head:
        print(head, end =' --> ' if head.next is not None else '')
        head = head.next
            
def bubble_sort(head):
    is_sorted = False
    while not is_sorted:
        cur = head
        is_sorted = True
        while cur is not None:
            if cur.next is not None and cur.value > cur.next.value:
                cur.value, cur.next.value = cur.next.value, cur.value
                is_sorted = False
            cur = cur.next
        
a, b, c, d, e, f = Node(9), Node(2), Node(1), Node(3), Node(33), Node()

a.next = b
b.next = c
c.next = d
d.next = e
e.next = f

print_linked_list(a)
bubble_sort(a)
print('\n')
print_linked_list(a)

9 --> 2 --> 1 --> 3 --> 33 --> 7

1 --> 2 --> 3 --> 7 --> 9 --> 33

In [7]:
# Задача 3 Pandas
# 1) Выясните, сколько в среднем выходит полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

# 2) Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

# 3) Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [8]:
#Задача 3.1
import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
mask = (tips['sex'] == 'Male') & (tips['smoker'] == 'Yes') & (tips['day'] == 'Fri') & (tips['time'] == 'Lunch')
# print(tips[mask]['total_bill'].describe())
print('\n', 'Средний счет за ланч', tips[mask]['total_bill'].mean(), 'тугриков')

 Средний счет за ланч 11.386666666666668 тугриков

In [9]:
import pandas as pd
import seaborn as sns
import numpy as np
iris = sns.load_dataset('iris')
print('Разброс значений для датасета iris')
dnm=iris.groupby('species').agg(np.ptp)
display(dnm)

Разброс значений для датасета iris

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               1.5          2.1           0.9          0.5
versicolor           2.1          1.4           2.1          0.8
virginica            3.0          1.6           2.4          1.1

In [10]:
# import numpy as np
# dates = pd.date_range('20130101',periods=6)
# df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
# df.loc[:, 'Плотность населения'] = list('123456')
# df.rename(columns = {'A' : 'лллл', 'C' : 'ъыъ'}, inplace=True)
# df

In [11]:
#3) Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык
import pandas as pd
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df.rename(columns = {'country' : 'Страна', 'square' : 'Площадь'}, inplace = True)
df['Плотность населения'] = df['population'] * 1000000 / df['Площадь']
display(df)

       Страна  population   Площадь  Плотность населения
0  Kazakhstan       17.04   2724902             6.253436
1      Russia      143.50  17125191             8.379469
2     Belarus        9.50    207600            45.761079
3     Ukraine       45.50    603628            75.377550